@model IEnumerable<DoAnASP.Areas.Admin.Models.PhimModel>
<div class="full">
    <link href="~/template/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/template/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });
        });
    </script>

    <!--//pop-up-box -->

    <div class="content-grids" style="background-color:black;">
        @{
            int i = 0;
            foreach (var item in Model)
            {
                if (i == 3 || i == 7 || i == 11 | i == 15 || i == 19)
                {
                <div class="content-grid last-grid" style="height:496.8px;">
                    <a href="#@item.IdPhim" class="play-icon popup-with-zoom-anim">
                        <img src="~/ImageAdmin/ImgPhim/@item.HinhAnh" title="allbum-name" style="width:317.68px; height:300px;" />
                    </a>
                    <h6>@item.Mota</h6>
                    <ul>
                        <li><a href="#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
                        <li><a href="#"><img src="~/template/images/views.png" title="image-name" /></a></li>
                        <li><a href="#"><img src="~/template/images/link.png" title="image-name" /></a></li>
                    </ul>
                    <a class="button play-icon popup-with-zoom-anim" href="#@item.IdPhim">Watch now</a>
                    <a  asp-action="Index" asp-controller="Single" asp-route-id="@item.IdPhim">BOOK NOW</a>
                </div>
                    <div id="@item.IdPhim" class="mfp-hide">
                        <iframe src="@item.LinkPhim" frameborder="0" allowfullscreen></iframe>
                    </div>
                }
                else
                {
    <div class="content-grid" style="height:496.8px;">
        <a class="play-icon popup-with-zoom-anim" href="#@item.IdPhim"><img src="~/ImageAdmin/ImgPhim/@item.HinhAnh" title="allbum-name" style="width:317.68px; height:300px;" /></a>
        <h6>@item.Mota</h6>
        <ul>
            <li><a href="#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
            <li><a href="#"><img src="~/template/images/views.png" title="image-name" /></a></li>
            <li><a href="#"><img src="~/template/images/link.png" title="image-name" /></a></li>
        </ul>
        <a class="button play-icon popup-with-zoom-anim" href="#@item.IdPhim">Watch now</a>
        <a asp-action="Index" asp-controller="Single" asp-route-id="@item.IdPhim">BOOK NOW</a>
    </div>
                    <div id="@item.IdPhim" class="mfp-hide">
                        <iframe src="@item.LinkPhim" frameborder="0" allowfullscreen></iframe>
                    </div>
                }
                i++;
            }
        }
    </div>
</div>
