@model IEnumerable<DoAnASP.Areas.Admin.Models.ChiTietDatVeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenGhe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datVe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenGhe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datVe.IdDatVe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdChiTietDatVe">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdChiTietDatVe">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdChiTietDatVe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
