@model DoAnASP.Areas.Admin.Models.QuanHuyenModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuanHuyenModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenQuanHuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenQuanHuyen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thanhPho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thanhPho.TenThanhPho)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdQuanHuyen">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
