@model DoAnASP.Areas.Admin.Models.DatVeModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DatVeModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoGhe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoGhe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThaiThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThaiThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lichChieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lichChieu.IdLichChieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.khachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.khachHang.DiaChi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDatVe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
