
@model IEnumerable<DoAnASP.Areas.Admin.Models.PhimModel>


@{
    ViewData["Title"] = "Index";
}


<div class="main-content">
    <div class="section__content section__content--p30">

        <div class="container-fluid">
            <div class="row">
                <div class="form-header col-sm-5">
                    <input class="au-input au-input--xl" type="text" name="keyword" id="keyword" placeholder="Search for datas &amp; reports..." />
                    <button class="au-btn--submit" id="btn_search">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </div>
                <div class="form-header col-sm-5">
                    <h4 class="col-4">Thông Báo User:</h4><br />
                    <input class="au-input au-input--xl" type="text" name="comment" id="comment" title="Thông báo cho người dùng"  placeholder="Notifications User....." />
                    <button class="au-btn--submit" id="clientbutton">
                        <i class="zmdi zmdi-notifications-add"></i>
                    </button>
                </div>
                <br />
                <div class="col-md-12">
                    <div class="table-responsive table-responsive-data2">
                        <h1>Phim</h1>
                        <br />
                        <p>
                            <a class="au-btn au-btn-icon au-btn--green au-btn--small" asp-action="Create">Create New</a>
                        </p>
                        <br />
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Tên phim</th>
                                    <th>Thời lượng</th>
                                    <th>Hình ảnh</th>
                                    <th>Loại phim</th>
                                    <th>Link Phim</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="tr-shadow">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TenPhim)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ThoiLuong)
                                        </td>
                                        <td>
                                            <img src="~/ImageAdmin/ImgPhim/@Html.DisplayFor(modelItem => item.HinhAnh)" style="width:200px; height:100px;" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.loaiPhim.TenLoaiPhim)
                                        </td>
                                        <td> @Html.DisplayFor(modelItem => item.LinkPhim)</td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a asp-action="Edit" asp-route-id="@item.IdPhim" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.IdPhim" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <br />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#btn_search").click(function () {
                $.ajax({
                    method: "GET",
                    url: "../../api/SearchAPI/search",
                    data: { 'keyword': $("#keyword").val() }
                }).done(function (data) {
                    var cc = JSON.parse(data);
                    var i = '';
                    $.each(cc, function (index, value) {
                        i += ` <tr class="tr-shadow">
                                                                <td>`+
                            value.TenPhim
                            +
                            `
                                                                </td>
                                                                <td>`+
                            value.ThoiLuong
                            + `
                                                                </td>
                                                                <td><img src="/ImageAdmin/ImgPhim/`+ value.HinhAnh + `" style="width:100px; height:100px;" />
                                                                </td>
                                                                <td>
                                                                  `+
                            value.TenLoaiPhim
                            + `
                                                                </td>
                                                                <td>
                                                                    <div class="table-data-feature">
                                                                      <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                                            <a href="PhimModels/Edit/${value.IdPhim}"><i class="zmdi zmdi-edit"></i></a>
                                                                     </button>
                                                                        <button asp-action="Delete" asp-route-id=`+ value.IdPhim + ` class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                            <i class="zmdi zmdi-delete"></i>
                                                                            <a href="PhimModels/Delete/${value.IdPhim}"> <i class="zmdi zmdi-delete"></i></a>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                            </tr>`;
                    });
                    $('tbody').html(i)
                });
            });
        });
    </script>

    <script>

        var connection = new signalR.HubConnectionBuilder().withUrl("/Notifications").build();
        connection.start().then(function () {

        }).catch(function (err) {
            return console.error.toString();
        });
        connection.on("ClientSideFunction", function (message) {
            $('#ProductDescription').text(message);
        });
        $('#clientbutton').click(function (envent) {
            let message = $('#comment').val();
            $.ajax({
                url: '../../Admin/PhimModels/updateMessage',
                type: 'GET',
                data: { 'message': message }
            }).done(function () {
                $('#comment').empty();
                connection.invoke("NotificationClient").catch(function (err) {
                    return console.error.toString();
                });
                envent.preventDefault();
            });
        });
    </script>
}